# Mac OS stuff
.DS_Store
**/.DS_Store

### Xcode ###
## User settings
xcuserdata/

# Ignore user interface state file
bedside-ios.xcodeproj/project.xcworkspace/xcuserdata/*/UserInterfaceState.xcuserstate

# Ignore breakpoints file
bedside-ios.xcodeproj/xcuserdata/*/xcdebugger/Breakpoints_v2.xcbkptlist

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# VSCode
.vscode/settings.json

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
